<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.account.role.mapper.RoleStationXrefMapper">

    <resultMap id="roleStationXrefResult" type="cn.mrobot.bean.account.RoleStationXref">
        <result property="id" column="ID"/>
        <result property="roleId" column="ROLE_ID"/>
        <result property="stationId" column="STATION_ID"/>
    </resultMap>

    <select id="getByRoleId" resultMap="roleStationXrefResult">
        SELECT
            ID,
            ROLE_ID,
            STATION_ID
        FROM AC_ROLE_STATION_XREF
        WHERE ROLE_ID= #{roleId}
    </select>

</mapper>