<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.area.point.mapper.PointMapper">

    <resultMap id="mapPoint" type="cn.mrobot.bean.area.point.MapPoint">
        <result property="id" column="ID"/>
        <result property="storeId" column="STORE_ID"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="pointName" column="POINT_NAME"/>
        <result property="pointAlias" column="POINT_ALIAS"/>
        <result property="sceneName" column="SCENE_NAME"/>
        <result property="mapName" column="MAP_NAME"/>
        <result property="x" column="X"/>
        <result property="y" column="Y"/>
        <result property="th" column="TH"/>
        <result property="pointLevel" column="POINT_LEVEL"/>
        <result property="mapPointTypeId" column="MAP_POINT_TYPE_ID"/>
        <result property="ICPointType" column="IC_POINT_TYPE"/>
        <result property="cloudMapPointTypeId" column="CLOUD_POINT_TYPE_ID"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        STORE_ID,
        CREATED_BY,
        CREATE_TIME,
        POINT_NAME,
        POINT_ALIAS,
        SCENE_NAME,
        MAP_NAME,
        X,
        Y,
        TH,
        POINT_LEVEL,
        IC_POINT_TYPE,
        MAP_POINT_TYPE_ID,
        CLOUD_POINT_TYPE_ID
    </sql>

    <select id="selectMapName" resultType="String">
        SELECT MAP_NAME
        FROM A_MAP_POINT
        WHERE STORE_ID = #{storeId}
        GROUP BY MAP_NAME
    </select>

    <select id="selectSceneName" resultType="String">
        SELECT SCENE_NAME
        FROM A_MAP_POINT
        WHERE STORE_ID = #{storeId}
        GROUP BY SCENE_NAME
    </select>

    <select id="selectMapNameBySceneName" resultType="String">
        SELECT MAP_NAME
        FROM A_MAP_POINT a
        <where>
            <if test = "sceneName != null">
                AND a.SCENE_NAME = #{sceneName}
            </if>
            <if test = "storeId != null">
                AND a.STORE_ID = #{storeId}
            </if>
        </where>
        GROUP BY MAP_NAME
    </select>

    <select id="selectPointTypeByMapName" resultType="int">
        SELECT DISTINCT CLOUD_POINT_TYPE_ID
        FROM A_MAP_POINT a
        <where>
            <if test = "sceneName != null">
                AND a.SCENE_NAME = #{sceneName}
            </if>
            <if test = "mapName != null">
                AND  a.MAP_NAME = #{mapName}
            </if>
            <if test = "storeId != null">
                AND a.STORE_ID = #{storeId}
            </if>
        </where>
    </select>

    <select id="selectPointByPointTypeMapName" resultMap="mapPoint">
        SELECT
        <include refid="Base_Column_List"/>
        FROM A_MAP_POINT a
        <where>
            <trim>
                <if test = "sceneName != null">
                    AND a.SCENE_NAME = #{sceneName}
                </if>
                <if test = "mapName != null">
                    and a.MAP_NAME = #{mapName}
                </if>
                <if test="cloudMapPointTypeId != null">
                    and a.CLOUD_POINT_TYPE_ID = #{cloudMapPointTypeId}
                </if>
                <if test = "storeId != null">
                    AND a.STORE_ID = #{storeId}
                </if>
            </trim>
        </where>
    </select>

    <update id="updateDeleteFlag">
        UPDATE  A_MAP_POINT
        SET
        <if test="deleteFlag != null">
            DELETE_FLAG = #{deleteFlag}
        </if>
        WHERE
        STORE_ID = #{storeId}
        AND
        MAP_ZIP_ID = #{mapZipId}
    </update>

    <select id="listByMapSceneNameAndPointType" resultMap="mapPoint">
        SELECT
        <include refid="Base_Column_List"/>
        FROM A_MAP_POINT a
        <where>
            <if test = "mapSceneName != null">
                AND a.SCENE_NAME = #{mapSceneName}
            </if>
            <if test = "type != null">
                AND a.CLOUD_POINT_TYPE_ID = #{type}
            </if>
            <if test = "storeId != null">
                AND a.STORE_ID = #{storeId}
            </if>
        </where>
    </select>

</mapper>