<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.area.point.mapper.PointMapper">

    <resultMap id="mapPoint" type="cn.mrobot.bean.area.point.MapPoint">
        <result property="id" column="ID"/>
        <result property="storeId" column="STORE_ID"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="pointName" column="POINT_NAME"/>
        <result property="pointAlias" column="POINT_ALIAS"/>
        <result property="sceneName" column="SCENE_NAME"/>
        <result property="mapName" column="MAP_NAME"/>
        <result property="x" column="X"/>
        <result property="y" column="Y"/>
        <result property="th" column="TH"/>
        <result property="pointLevel" column="POINT_LEVEL"/>
        <result property="mapPointTypeId" column="MAP_POINT_TYPE_ID"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        STORE_ID,
        CREATED_BY,
        CREATE_TIME,
        POINT_NAME,
        POINT_ALIAS,
        SCENE_NAME,
        MAP_NAME,
        X,
        Y,
        TH,
        POINT_LEVEL,
        MAP_POINT_TYPE_ID
    </sql>

    <select id="selectMapName" resultType="String">
        SELECT MAP_NAME
        FROM A_MAP_POINT
        WHERE STORE_ID = #{storeId}
        GROUP BY MAP_NAME
    </select>

    <select id="selectPointTypeByMapName" resultType="int">
        SELECT DISTINCT MAP_POINT_TYPE_ID
        FROM A_MAP_POINT a
        WHERE a.MAP_NAME = #{mapName};
    </select>

    <select id="selectPointByPointTypeMapName" resultMap="mapPoint">
        SELECT
        <include refid="Base_Column_List"/>
        FROM A_MAP_POINT a
        <where>
            <trim>
                <if test = "mapName != null">
                    and a.MAP_NAME = #{mapName}
                </if>
                <if test="mapPointTypeId != null">
                    and a.MAP_POINT_TYPE_ID = #{mapPointTypeId}
                </if>
            </trim>
        </where>
    </select>

</mapper>