<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.assets.elevator.mapper.ElevatorMapper">

    <!-- 电梯映射关系 -->
    <resultMap id="ElevatorMap" type="cn.mrobot.bean.assets.elevator.Elevator">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="info" property="info" jdbcType="VARCHAR"/>
        <result column="lock_state" property="lockState" jdbcType="VARCHAR"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="elevatorshaft_id" property="elevatorshaftId" jdbcType="BIGINT"/>
        <result column="store_id" property="storeId" jdbcType="BIGINT"/>
        <result column="created_by" property="createdBy" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="IP_ELEVATOR_ID" property="ipElevatorId" jdbcType="VARCHAR"/>
    </resultMap>

    <!--地图映射关系-->
    <resultMap id="MapInfoMap" type="cn.mrobot.bean.area.map.MapInfo">
        <result property="id" column="ID"/>
        <result property="storeId" column="STORE_ID"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="mapName" column="MAP_NAME"/>
        <result property="sceneName" column="SCENE_NAME"/>
        <result property="mapAlias" column="MAP_ALIAS"/>
        <result property="pngImageLocalPath" column="PNG_IMAGE_LOCAL_PATH"/>
        <result property="ros" column="ROS"/>
        <result property="deviceId" column="DEVICE_ID"/>
        <result property="pngDesigned" column="PNG_DESIGNED"/>
        <result property="mapZipId" column="MAP_ZIP_ID"/>
        <result property="floor" column="FLOOR"/>
        <result property="deleteFlag" column="DELETE_FLAG"/>
    </resultMap>

    <select id="selectAllFlushCache" resultMap="ElevatorMap" flushCache="true">
        SELECT * FROM AS_ELEVATOR
    </select>

    <select id="findByElevatorPointCombinationId" resultMap="ElevatorMap" parameterType="java.lang.Long">
        SELECT r.*
        FROM AS_ELEVATOR r LEFT JOIN ELEVATOR_ELEVATORPOINTCOMBINATION_RELATIONS ees ON r.ID = ees.ELEVATOR_ID
        WHERE ees.ELEVATORPOINTCOMBINATION_ID = #{0}
    </select>

    <delete id="deleteRelationsByElevatorId" parameterType="java.lang.Long">
        DELETE FROM ELEVATOR_ELEVATORPOINTCOMBINATION_RELATIONS WHERE ELEVATOR_ID = #{0}
    </delete>

    <select id="findByMapNameAndStoreId" resultMap="MapInfoMap">
        SELECT i.* FROM A_MAP_INFO i WHERE i.MAP_NAME = #{param1} AND i.STORE_ID = #{param2} AND i.SCENE_NAME = #{param3}
    </select>

    <insert id="insertRelationsByElevatorId">
        INSERT INTO ELEVATOR_ELEVATORPOINTCOMBINATION_RELATIONS
        (ELEVATOR_ID,ELEVATORPOINTCOMBINATION_ID)
        VALUES
        <foreach collection="param2" item="id" separator=",">
            (#{param1}, #{id})
        </foreach>
    </insert>

    <!-- 更新电梯锁状态 -->
    <update id="updateElevatorLockState">
        UPDATE AS_ELEVATOR r SET r.LOCK_STATE = #{param2} WHERE r.ID = #{param1}
    </update>

</mapper>