<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.assets.elevator.mapper.ElevatorShaftMapper">


    <!-- 电梯井映射关系 -->
    <resultMap id="ElevatorShaftMap" type="cn.mrobot.bean.assets.elevator.ElevatorShaft">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="info" property="info" jdbcType="VARCHAR"/>
        <result column="store_id" property="storeId" jdbcType="BIGINT"/>
        <result column="created_by" property="createdBy" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <!-- 电梯集合对象 -->
        <collection property="elevators" ofType="cn.mrobot.bean.assets.elevator.Elevator">
            <id     column="elevator_id" property="id" jdbcType="BIGINT"/>
            <result column="elevator_name" property="name" jdbcType="VARCHAR"/>
            <result column="elevator_info" property="info" jdbcType="VARCHAR"/>
            <result column="elevator_lock_state" property="lockState" jdbcType="VARCHAR"/>
            <result column="elevator_ip" property="ip" jdbcType="VARCHAR"/>
            <result column="elevator_store_id" property="storeId" jdbcType="BIGINT"/>
            <result column="elevator_created_by" property="createdBy" jdbcType="BIGINT"/>
            <result column="elevator_create_time" property="createTime" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>


</mapper>