<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.assets.scene.mapper.SceneMapper">

    <resultMap id="RobotSimpleMap" type="cn.mrobot.bean.assets.robot.Robot">
        <id column="robot_type_id" property="id" jdbcType="BIGINT"/>
        <result column="robot_name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="MapInfoSimpleMap" type="cn.mrobot.bean.area.map.MapInfo">
        <id column="map_type_id" property="id" jdbcType="BIGINT"/>
        <result column="map_scenename" property="sceneName" jdbcType="VARCHAR"/>
        <result column="map_zipid" property="mapZipId" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findRobotBySceneId" resultMap="RobotSimpleMap" parameterType="java.lang.Long">
        SELECT r.ROBOT_ID AS robot_type_id , b.NAME as robot_name
        FROM AS_ROBOT b LEFT JOIN SCENES_ROBOTS_RELATIONS r ON b.ID = r.ROBOT_ID
        WHERE r.SCENE_ID = #{0}
    </select>

    <select id="findMapBySceneId" resultMap="MapInfoSimpleMap" parameterType="java.lang.Long">
        SELECT i.ID AS map_type_id, i.SCENE_NAME as map_scenename, i.MAP_ZIP_ID as map_zipid
        FROM A_MAP_INFO i LEFT JOIN SCENES_MAPS_RELATIONS smr ON i.SCENE_NAME = smr.MAP_SCENENAME
        WHERE smr.SCENE_ID = #{0}
    </select>

    <delete id="deleteRobotAndSceneRelations" parameterType="java.lang.Long">
        DELETE FROM SCENES_ROBOTS_RELATIONS WHERE SCENE_ID = #{0}
    </delete>

    <delete id="deleteMapAndSceneRelations" parameterType="java.lang.Long">
        DELETE FROM SCENES_MAPS_RELATIONS WHERE SCENE_ID = #{0}
    </delete>

    <select id="checkRobot" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT count(ROBOT_ID) FROM SCENES_ROBOTS_RELATIONS WHERE ROBOT_ID = #{0}
    </select>

    <select id="checkRobotLegal" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT count(*) FROM AS_ROBOT WHERE ID = #{0}
    </select>

    <select id="checkMapInfo" resultType="java.lang.Integer">
        SELECT count(*)
        FROM AS_SCENE s LEFT JOIN SCENES_MAPS_RELATIONS r ON s.ID = r.SCENE_ID
        WHERE r.MAP_SCENENAME = #{param1} AND s.STORE_ID = #{param2};
    </select>

    <select id="checkMapLegal" resultType="java.lang.Integer">
        SELECT count(*) FROM A_MAP_INFO WHERE SCENE_NAME = #{param1} AND STORE_ID = #{param2}
    </select>

    <insert id="insertSceneAndMapRelations">
        INSERT INTO SCENES_MAPS_RELATIONS
        (SCENE_ID,MAP_SCENENAME)
        VALUES
        (#{param1}, #{param2})
    </insert>

    <insert id="insertSceneAndRobotRelations">
        INSERT INTO SCENES_ROBOTS_RELATIONS
        (SCENE_ID,ROBOT_ID)
        VALUES
        <foreach collection="param2" item="id" separator=",">
            (#{param1}, #{id})
        </foreach>
    </insert>

    <update id="setSceneNeedToBeUpdatedState">
        UPDATE AS_SCENE SET STATE = 3 WHERE ID = (SELECT SCENE_ID FROM SCENES_MAPS_RELATIONS WHERE MAP_SCENENAME = #{param1}) AND STORE_ID = #{param2}
    </update>

</mapper>