<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.account.user.mapper.UserRoleXrefMapper">

    <resultMap id="userRoleXrefResult" type="cn.mrobot.bean.account.UserRoleXref">
        <result property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="roleId" column="ROLE_ID"/>
    </resultMap>

    <select id="getByUserId" resultMap="userRoleXrefResult">
        SELECT
            u.ID,
            u.USER_ID,
            u.ROLE_ID
        FROM AC_USER_ROLE_XREF u
        WHERE u.USER_ID= #{userId}
    </select>

</mapper>