<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.account.user.mapper.UserMapper">

    <resultMap id="userResult" type="cn.mrobot.bean.account.User">
        <result property="id" column="ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="activated" column="ACTIVATED"/>
        <result property="directLoginKey" column="DIRECT_LOGIN_KEY"/>
        <result property="roleId" column="ROLE_ID"/>
        <result property="storeId" column="STORE_ID"/>
        <result property="accessToken" column="ACCESS_TOKEN"/>
    </resultMap>

    <select id="list" resultMap="userResult" parameterType="java.util.Map">
        SELECT
            u.ID,
            u.USER_NAME,
            u.PASSWORD,
          u.ACTIVATED,
   u.DIRECT_LOGIN_KEY,
           ur.ROLE_ID
        FROM
            AC_USER u
        LEFT JOIN AC_USER_ROLE_XREF ur ON u.ID = ur.USER_ID
        ORDER BY
            u.ID DESC
    </select>

    <update id="fakeDeleteById">
        update AC_USER set ACTIVATED= 0 where ID= #{id}
    </update>

    <select id="getByUserName" resultMap="userResult">
        SELECT u.ID,
            u.USER_NAME,
            u.PASSWORD,
            u.ACTIVATED,
            u.DIRECT_LOGIN_KEY,
            u.STORE_ID
        FROM AC_USER u WHERE u.USER_NAME = #{userName}
    </select>

    <select id="getUserByDirectKey" resultMap="userResult">
        SELECT u.ID,
            u.USER_NAME,
            u.PASSWORD,
            u.ACTIVATED,
            u.DIRECT_LOGIN_KEY,
            u.STORE_ID
        FROM AC_USER u WHERE u.DIRECT_LOGIN_KEY = #{directLoginKey} and u.STORE_ID = #{storeId}
    </select>

    <select id="selectBySuperAdmin" resultMap="userResult" parameterType="java.util.Map">
        SELECT
            u.ID,
            u.USER_NAME,
            u.PASSWORD,
          u.ACTIVATED,
   u.DIRECT_LOGIN_KEY,
           ur.ROLE_ID
        FROM
            AC_USER u
        LEFT JOIN AC_USER_ROLE_XREF ur ON u.ID = ur.USER_ID
        where 1=1
        <if test="storeId != null">
            and u.STORE_ID = #{storeId}
        </if>
        <if test="name != null and name != '' ">
            and u.USER_NAME = #{name}
        </if>
        ORDER BY
            u.ID DESC
    </select>

    <select id="selectByHospitalAdmin" resultMap="userResult" parameterType="java.util.Map">
        select * from
        (SELECT
            u.ID,
            u.USER_NAME,
            u.PASSWORD,
            u.ACTIVATED,
            u.DIRECT_LOGIN_KEY,
            ur.ROLE_ID
          FROM
        AC_USER u
        LEFT JOIN AC_USER_ROLE_XREF ur ON u.ID = ur.USER_ID
        where 1=1
        <if test="userId != null">
            and u.ID = #{userId}
        </if>
        union all
            SELECT
            u.ID,
            u.USER_NAME,
            u.PASSWORD,
            u.ACTIVATED,
            u.DIRECT_LOGIN_KEY,
            ur.ROLE_ID
            FROM
            AC_USER u
            LEFT JOIN AC_USER_ROLE_XREF ur ON u.ID = ur.USER_ID
            where 1=1
            <if test="storeId != null">
                and u.STORE_ID = #{storeId}
            </if>
            <if test="roleId != null">
                and ur.ROLE_ID = #{roleId}
            </if>
        <if test="name != null and name != '' ">
            and u.USER_NAME = #{name}
        </if>) rs
        ORDER BY
        rs.ID DESC
    </select>

    <select id="selectByStationAdmin" resultMap="userResult" parameterType="java.util.Map">
        SELECT
            u.ID,
            u.USER_NAME,
            u.PASSWORD,
            u.ACTIVATED,
            u.DIRECT_LOGIN_KEY,
            ur.ROLE_ID
        FROM
            AC_USER u
        LEFT JOIN AC_USER_ROLE_XREF ur ON u.ID = ur.USER_ID
        where 1=1
        <if test="userId != null">
            and u.ID = #{userId}
        </if>
    </select>

    <select id="getByAccessToken" resultMap="userResult">
        SELECT
            u.ID,
            u.USER_NAME,
            u.PASSWORD,
            u.ACTIVATED,
            u.DIRECT_LOGIN_KEY,
            u.ACCESS_TOKEN
        FROM
            AC_USER u WHERE u.ACCESS_TOKEN= #{accessToken}
    </select>
</mapper>