<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.erp.bindmac.mapper.StationMacPasswordXREFMapper">

    <resultMap id="stationMacPasswordXREF" type="cn.mrobot.bean.erp.bindmac.StationMacPasswordXREF">
        <result property="id" column="ID"/>
        <result property="storeId" column="STORE_ID"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createTime" column="CREATE_TIME"/>

        <result property="password" column="PASSWORD"/>
        <result property="mac" column="MAC"/>
        <result property="type" column="TYPE"/>
        <association property="station" column="STATION_ID"
                     javaType="cn.mrobot.bean.area.station.Station"
                     select="getStation"/>

    </resultMap>

    <sql id="Base_Column_List">
        ID,
        STORE_ID,
        CREATED_BY,
        CREATE_TIME,
        PASSWORD,
        MAC,
        TYPE,
        STATION_ID
    </sql>

    <select id="getStation" resultType="cn.mrobot.bean.area.station.Station">
        SELECT * FROM A_STATION WHERE ID = #{STATION_ID}
    </select>

    <insert id="saveStationMacPasswordXREF" parameterType="cn.mrobot.bean.erp.bindmac.StationMacPasswordXREF"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO ERP_STATION_MAC_PASSWORD_XREF(
        ID,
        STORE_ID,
        CREATED_BY,
        CREATE_TIME,
        PASSWORD,
        MAC,
        TYPE,
        STATION_ID
        )
        VALUES (
        #{id},
        #{storeId},
        #{createdBy},
        #{createTime},
        #{password},
        #{mac},
        #{type},
        #{station.id}
        )
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
    </insert>

    <select id="findByMac" resultMap="stationMacPasswordXREF">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_STATION_MAC_PASSWORD_XREF WHERE MAC = #{mac}
    </select>

    <update id="updateByMac" parameterType="cn.mrobot.bean.erp.bindmac.StationMacPasswordXREF">
        UPDATE ERP_STATION_MAC_PASSWORD_XREF
        <trim prefix="set" suffixOverrides=",">
            <if test="password != null">
                PASSWORD = #{password},
            </if>
            <if test="type != null">
                TYPE = #{type},
            </if>
            <if test="station != null">
                STATION_ID = #{station.id},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
        </trim>
        WHERE MAC = #{mac}
    </update>

    <select id="listByConditions" resultMap="stationMacPasswordXREF">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_STATION_MAC_PASSWORD_XREF
        <where>
            <if test="mac != null">
                AND MAC = #{mac}
            </if>
            <if test="stationId != null">
                AND STATION_ID = #{stationId}
            </if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

    <select id="listAll" resultMap="stationMacPasswordXREF">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_STATION_MAC_PASSWORD_XREF
        ORDER BY CREATE_TIME DESC
    </select>

    <select id="findByType" resultMap="stationMacPasswordXREF">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_STATION_MAC_PASSWORD_XREF
        WHERE TYPE = #{type}
        ORDER BY CREATE_TIME DESC
    </select>

</mapper>