<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.menu.mapper.MenuMapper">

    <resultMap id="menuResult" type="cn.muye.menu.bean.Menu">
        <result property="id" column="ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="key" column="KEY"/>
        <result property="name" column="NAME"/>
        <result property="icon" column="ICON"/>
    </resultMap>

    <select id="listMenu" resultMap="menuResult">
        select ID,PARENT_ID,KEY,NAME,ICON from MENU
        <if test="versionId != null">
            and VERSION_ID = #{versionId}
        </if>
        ORDER BY ID ASC
    </select>

</mapper>