<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.base.mapper.message.OffLineMessageMapper">

  <resultMap id="offLineMessageResult" type="cn.muye.base.model.message.OffLineMessage">
    <result property="uuId" column="UUID"/>
    <result property="senderId" column="SENDER_ID"/>
    <result property="receiverId" column="RECEIVER_ID"/>
    <result property="messageKind" column="MESSAGE_KIND"/>
    <result property="messageType" column="MESSAGE_TYPE"/>
    <result property="messageStatusType" column="MESSAGE_STATUS_TYPE"/>
    <result property="relyMessage" column="RELY_MESSAGE"/>
    <result property="messageText" column="MESSAGE_TEXT"/>
    <result property="messageBinary" column="MESSAGE_BINARY"/>
    <result property="sendCount" column="SEND_COUNT"/>
    <result property="sendTime" column="SEND_TIME"/>
    <result property="updateTime" column="UPDATE_TIME"/>
    <result property="success" column="SUCCESS"/>
  </resultMap>

  <sql id="Base_Column_List" >
    UUID,
    SENDER_ID,
    RECEIVER_ID,
    MESSAGE_KIND,
    MESSAGE_TYPE,
    MESSAGE_STATUS_TYPE,
    RELY_MESSAGE,
    MESSAGE_TEXT,
    MESSAGE_BINARY,
    SEND_COUNT,
    SEND_TIME,
    UPDATE_TIME,
    SUCCESS
  </sql>

  <select id="get" resultMap="offLineMessageResult">
    SELECT
    <include refid="Base_Column_List" />
    FROM OFFLINE_MESSAGE o
    WHERE o.UUID = #{uuId};
  </select>

  <select id="getByIsSuccess" resultMap="offLineMessageResult">
    SELECT
    <include refid="Base_Column_List" />
    FROM OFFLINE_MESSAGE o
    WHERE o.SUCCESS = #{success} ASC limit 1;
  </select>

  <select id="list" resultMap="offLineMessageResult">
    SELECT
    <include refid="Base_Column_List" />
    FROM OFFLINE_MESSAGE o
  </select>

  <select id="listByIsSuccess" resultMap="offLineMessageResult">
    SELECT
    <include refid="Base_Column_List" />
    FROM OFFLINE_MESSAGE o
    WHERE o.SUCCESS = #{success} AND SEND_COUNT<![CDATA[<=200 ]]>;
  </select>

  <insert id="save" parameterType="cn.muye.base.model.message.OffLineMessage">
    INSERT INTO OFFLINE_MESSAGE(
    UUID,
    SENDER_ID,
    RECEIVER_ID,
    MESSAGE_KIND,
    MESSAGE_TYPE,
    MESSAGE_STATUS_TYPE,
    RELY_MESSAGE,
    MESSAGE_TEXT,
    MESSAGE_BINARY,
    SEND_COUNT,
    SEND_TIME,
    UPDATE_TIME,
    SUCCESS
    ) values (
    #{uuId},
    #{senderId},
    #{receiverId},
    #{messageKind},
    #{messageType},
    #{messageStatusType},
    #{relyMessage},
    #{messageText},
    #{messageBinary},
    #{sendCount},
    #{sendTime},
    #{updateTime},
    #{success}
    )
  </insert>

  <update id="update">
    UPDATE  OFFLINE_MESSAGE
    SET
    <if test="senderId != null">
      SENDER_ID = #{senderId},
    </if>
    <if test="receiverId != null">
      RECEIVER_ID = #{receiverId},
    </if>
    <if test="messageKind != null">
      MESSAGE_KIND = #{messageKind},
    </if>
    <if test="messageType != null">
      MESSAGE_TYPE = #{messageType},
    </if>
    <if test="messageStatusType != null">
      MESSAGE_STATUS_TYPE = #{messageStatusType},
    </if>
    <if test="relyMessage != null">
      RELY_MESSAGE = #{relyMessage},
    </if>
    <if test="messageText != null">
      MESSAGE_TEXT = #{messageText},
    </if>
    <if test="messageBinary != null">
      MESSAGE_BINARY = #{messageBinary},
    </if>
    <if test="sendCount != null">
      SEND_COUNT = #{sendCount},
    </if>
    <if test="sendTime != null">
      SEND_TIME = #{sendTime},
    </if>
    <if test="success != null">
      SUCCESS = #{success},
    </if>
    UPDATE_TIME = #{updateTime}
    WHERE
    UUID = #{uuId}
  </update>

  <delete id="delete">
    delete from OFFLINE_MESSAGE
    where SUCCESS = TRUE AND UUID = #{uuId}
  </delete>

  <delete id="deleteBySendTime">
    delete from OFFLINE_MESSAGE
    where SEND_TIME <![CDATA[ <  ]]>to_date(#{sendTime,jdbcType=DATE},'yyyy-MM-dd')
  </delete>

</mapper>