<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.base.mapper.config.RobotInfoConfigMapper">

  <resultMap id="robotInfoConfigResult" type="cn.muye.base.model.config.RobotInfoConfig">
    <result property="robotSn" column="ROBOT_SN"/>
    <result property="robotName" column="ROBOT_NAME"/>
    <result property="robotTypeId" column="ROBOT_TYPE_ID"/>
    <result property="robotBatteryThreshold" column="ROBOT_BATTERY_THRESHOLD"/>
    <result property="robotStoreId" column="ROBOT_STORE_ID"/>
  </resultMap>

  <sql id="Base_Column_List" >
    ROBOT_SN,
    ROBOT_NAME,
    ROBOT_TYPE_ID,
    ROBOT_BATTERY_THRESHOLD,
    ROBOT_STORE_ID
  </sql>

  <select id="list" resultMap="robotInfoConfigResult">
    SELECT
      <include refid="Base_Column_List" />
    FROM ROBOT_INFO_CONFIG a
  </select>

  <update id="update">
    UPDATE ROBOT_INFO_CONFIG
      SET
       ROBOT_NAME= #{robotName},
       ROBOT_TYPE_ID= #{robotTypeId},
       ROBOT_BATTERY_THRESHOLD= #{robotBatteryThreshold},
       ROBOT_STORE_ID= #{robotStoreId}
    WHERE ROBOT_SN=#{robotSn}
  </update>
</mapper>