<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.order.mapper.OrderSettingMapper">

    <resultMap id="orderSettingResult" type="cn.mrobot.bean.order.OrderSetting">
        <id property="id" column="id" />
        <result property="nickName" column="nickName" />
        <result property="stationId" column="stationId" />
        <result property="packageType" column="packageType" />
        <result property="robotType.id" column="robotType.id" />
        <result property="needSign" column="needSign" />
        <result property="defaultSetting" column="defaultSetting" />
        <result property="storeId" column="storeId" />
        <result property="createBy" column="createBy" />
        <result property="createTime" column="createTime" />
        <association property="startPoint" javaType="cn.mrobot.bean.area.point.MapPoint">
            <id column="startPointId" property="id"/>
            <result column="startPointName" property="pointName"/>
            <result column="startPointAlias" property="pointAlias"/>
            <result column="startSceneName" property="sceneName"/>
            <result column="startMapName" property="mapName"/>
            <result column="startX" property="x"/>
            <result column="startY" property="y"/>
            <result column="startTh" property="th"/>
            <result column="startPointLevel" property="pointLevel"/>
            <result column="startMapPointTypeId" property="mapPointTypeId"/>
        </association>
        <association property="endPoint" javaType="cn.mrobot.bean.area.point.MapPoint">
            <id column="endPointId" property="id"/>
            <result column="endPointName" property="pointName"/>
            <result column="endPointAlias" property="pointAlias"/>
            <result column="endSceneName" property="sceneName"/>
            <result column="endMapName" property="mapName"/>
            <result column="endX" property="x"/>
            <result column="endY" property="y"/>
            <result column="endTh" property="th"/>
            <result column="endPointLevel" property="pointLevel"/>
            <result column="endMapPointTypeId" property="mapPointTypeId"/>
        </association>
        <association property="goodsType" javaType="cn.mrobot.bean.assets.good.GoodsType">
            <id column="id" property="id"/>
            <result column="typeName" property="name"/>
        </association>
    </resultMap>

    <sql id = "orderSettingColumn">
        os.id AS "id",
        os.nick_name AS "nickName",
        os.station_id AS "stationId",
        os.package_type AS "packageType",
        os.robot_type_id AS "robotType.id",
        os.need_sign AS "needSign",
        os.default_setting AS "defaultSetting",
        os.store_id AS "storeId",
        os.created_by AS "createdBy",
        os.create_time AS "createTime",
        ps.id AS "startPointId",
        ps.point_name AS "startPointName",
        ps.point_alias AS "startPointAlias",
        ps.scene_name AS "startSceneName",
        ps.map_name AS "startMapName",
        ps.point_level AS "startPointLevel",
        ps.th AS "startTh",
        ps.x AS "startX",
        ps.y AS "startY",
        ps.map_point_type_id AS "startMapPointTypeId",
        pe.id AS "endPointId",
        pe.point_name AS "endPointName",
        pe.point_alias AS "endPointAlias",
        pe.scene_name AS "endSceneName",
        pe.map_name AS "endMapName",
        pe.point_level AS "endPointLevel",
        pe.th AS "endTh",
        pe.x AS "endX",
        pe.y AS "endY",
        pe.map_point_type_id AS "endMapPointTypeId",
        t.id AS "typeId",
        t.name AS "typeName"
    </sql>

    <sql id = "orderSettingJoin">
        LEFT JOIN A_MAP_POINT ps ON os.start_point_id = ps.id
        LEFT JOIN A_MAP_POINT pe ON os.end_point_id = pe.id
        LEFT JOIN AS_GOODS_TYPE t ON os.goods_type_id = t.id
    </sql>

    <select id="getById" resultMap="orderSettingResult">
        select
        <include refid="orderSettingColumn" />
        from OR_ORDER_SETTING os
        <include refid="orderSettingJoin" />
        where os.id = #{id};
    </select>

    <select id="listAvailableOrderSettingByStationId" resultMap="orderSettingResult">
        select
        <include refid="orderSettingColumn" />
        from OR_ORDER_SETTING os
        <include refid="orderSettingJoin" />
        where os.station_id = #{stationId} AND os.delete_status = FALSE;
    </select>

    <select id="countDefaultSetting" resultType="Integer">
        select count(1)
        from OR_ORDER_SETTING
        where station_id = #{stationId} AND default_setting = TRUE AND delete_status = FALSE ;
    </select>

    <select id="getDefaultSetting" resultType="cn.mrobot.bean.order.OrderSetting">
        select id
        from OR_ORDER_SETTING
        where station_id = #{stationId} AND default_setting = TRUE AND delete_status = FALSE limit 1;
    </select>

    <insert id="saveOrderSetting" parameterType="cn.mrobot.bean.order.OrderSetting" useGeneratedKeys="true" keyProperty="id">
        insert into OR_ORDER_SETTING(
        nick_name,
        station_id,
        start_point_id,
        end_point_id,
        goods_type_id,
        package_type,
        robot_type_id,
        need_sign,
        default_setting,
        delete_status,
        store_id,
        created_by,
        create_time
        ) values (
        #{nickName},
        #{stationId},
        #{startPoint.id},
        #{endPoint.id},
        #{goodsType.id},
        #{packageType},
        #{robotType.id},
        #{needSign},
        #{defaultSetting},
        #{deleteStatus},
        #{storeId},
        #{createdBy},
        #{createTime}
        )
    </insert>

    <update id="updateOrderSetting" parameterType="cn.mrobot.bean.order.OrderSetting">
        update OR_ORDER_SETTING
        <set>
            <if test="nickName != null" >
                nick_name = #{nickName},
            </if>
            <if test="stationId != null" >
                station_id = #{stationId},
            </if>
            <if test="startPoint != null and startPoint.id != null and startPoint.id != ''" >
                start_point_id = #{startPoint.id},
            </if>
            <if test="endPoint != null and endPoint.id != null and endPoint.id != ''" >
                end_point_id = #{endPoint.id},
            </if>
            <if test="goodsType != null and goodsType.id != null and goodsType.id != ''" >
                goods_type_id = #{goodsType.id},
            </if>
            <if test="packageType != null" >
                package_type = #{packageType},
            </if>
            <if test="robotType != null and robotType.id != null and robotType.id != ''" >
                robot_type_id = #{robotType.id},
            </if>
            <if test="needSign != null" >
                need_sign = #{needSign},
            </if>
            <if test="defaultSetting != null" >
                default_setting = #{defaultSetting},
            </if>
            <if test="deleteStatus != null" >
                delete_status = #{deleteStatus}
            </if>
        </set>
        WHERE id = #{id}
    </update>


</mapper>