<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.order.mapper.OrderSettingMapper">

    <resultMap id="orderSettingResult" type="cn.mrobot.bean.order.OrderSetting">
        <id property="id" column="id" />
        <result property="nickName" column="nickName" />
        <result property="stationId" column="stationId" />
        <result property="startStation.id" column="startStation.id" />
        <result property="endStation.id" column="endStation.id" />
        <result property="packageType" column="packageType" />
        <result property="robotType.id" column="robotType.id" />
        <result property="needSign" column="needSign" />
        <result property="needShelf" column="needShelf" />
        <result property="defaultSetting" column="defaultSetting" />
        <result property="storeId" column="storeId" />
        <result property="createdBy" column="createdBy" />
        <result property="createTime" column="createTime" />
        <association property="goodsType" javaType="cn.mrobot.bean.assets.good.GoodsType">
            <id column="typeId" property="id"/>
            <result column="typeName" property="name"/>
        </association>
    </resultMap>

    <sql id = "orderSettingColumn">
        os.id AS "id",
        os.nick_name AS "nickName",
        os.station_id AS "stationId",
        os.start_station_id AS "startStation.id",
        os.end_station_id AS "endStation.id",
        os.package_type AS "packageType",
        os.robot_type_id AS "robotType.id",
        os.need_shelf AS "needShelf",
        os.need_sign AS "needSign",
        os.need_shelf AS "needShelf",
        os.default_setting AS "defaultSetting",
        os.store_id AS "storeId",
        os.created_by AS "createdBy",
        os.create_time AS "createTime",
        t.id AS "typeId",
        t.name AS "typeName"
    </sql>

    <sql id = "orderSettingJoin">
        LEFT JOIN AS_GOODS_TYPE t ON os.goods_type_id = t.id
    </sql>

    <select id="getById" resultMap="orderSettingResult">
        select
        <include refid="orderSettingColumn" />
        from OR_ORDER_SETTING os
        <include refid="orderSettingJoin" />
        where os.id = #{id};
    </select>

    <select id="listAvailableOrderSettingByStationId" resultMap="orderSettingResult">
        select
        <include refid="orderSettingColumn" />
        from OR_ORDER_SETTING os
        <include refid="orderSettingJoin" />
        where os.station_id = #{stationId} AND os.delete_status = FALSE;
    </select>

    <select id="countDefaultSetting" resultType="Integer">
        select count(1)
        from OR_ORDER_SETTING
        where station_id = #{stationId} AND default_setting = TRUE AND delete_status = FALSE ;
    </select>

    <select id="getDefaultSetting" resultMap="orderSettingResult">
        select
        <include refid="orderSettingColumn" />
        from OR_ORDER_SETTING os
        <include refid="orderSettingJoin" />
        where os.station_id = #{stationId} AND os.default_setting = TRUE AND os.delete_status = FALSE limit 1;
    </select>

    <insert id="saveOrderSetting" parameterType="cn.mrobot.bean.order.OrderSetting" useGeneratedKeys="true" keyProperty="id">
        insert into OR_ORDER_SETTING(
        nick_name,
        station_id,
        start_station_id,
        end_station_id,
        goods_type_id,
        package_type,
        robot_type_id,
        need_sign,
        need_shelf,
        default_setting,
        delete_status,
        store_id,
        created_by,
        create_time
        ) values (
        #{nickName},
        #{stationId},
        #{startStation.id},
        #{endStation.id},
        #{goodsType.id},
        #{packageType},
        #{robotType.id},
        #{needSign},
        #{needShelf},
        #{defaultSetting},
        #{deleteStatus},
        #{storeId},
        #{createdBy},
        #{createTime}
        )
    </insert>

    <update id="updateOrderSetting" parameterType="cn.mrobot.bean.order.OrderSetting">
        update OR_ORDER_SETTING
        <set>
            <if test="nickName != null" >
                nick_name = #{nickName},
            </if>
            <if test="stationId != null" >
                station_id = #{stationId},
            </if>
            <if test="startStation != null" >
                start_station_id = #{startStation.id},
            </if>
            <if test="endStation != null" >
                end_station_id = #{endStation.id},
            </if>
            <if test="goodsType != null" >
                goods_type_id = #{goodsType.id},
            </if>
            <if test="packageType != null" >
                package_type = #{packageType},
            </if>
            <if test="robotType != null" >
                robot_type_id = #{robotType.id},
            </if>
            <if test="needSign != null" >
                need_sign = #{needSign},
            </if>
            <if test="needShelf != null" >
                need_shelf = #{needShelf},
            </if>
            <if test="defaultSetting != null" >
                default_setting = #{defaultSetting},
            </if>
            <if test="deleteStatus != null" >
                delete_status = #{deleteStatus}
            </if>
        </set>
        WHERE id = #{id}
    </update>


</mapper>