<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.order.mapper.OrderMapper">

    <sql id = "orderColumn">
        o.id AS "id",
        o.order_setting_id AS "orderSetting.id",
        o.robot_id AS "robot.id",
        o.start_station_id AS "startStation.id",
        o.isBusy AS "isBusy",
        o.store_id AS "storeId",
        o.created_by AS "createdBy",
        o.create_time AS "createTime"
    </sql>

    <sql id = "orderJoin">
    </sql>

    <select id="getById" resultType="cn.mrobot.bean.order.Order">
        select
        <include refid="orderColumn" />
        from OR_ORDER o
        where o.id = #{id};
    </select>

    <insert id="saveOrder" parameterType="cn.mrobot.bean.order.Order" useGeneratedKeys="true" keyProperty="id">
        insert into OR_ORDER(
        order_setting_id,
        robot_id,
        start_station_id,
        isBusy,
        store_id,
        created_by,
        create_time
        ) values (
        #{orderSetting.id},
        #{robot.id},
        #{startStation.id},
        #{isBusy},
        #{storeId},
        #{createdBy},
        #{createTime}
        )
    </insert>

    <update id="updateOrder" parameterType="cn.mrobot.bean.order.Order">
        update OR_ORDER
        <set>
            <if test="orderSetting != null and orderSetting.id != null and orderSetting.id != ''" >
                order_setting_id = #{orderSetting.id},
            </if>
            <if test="robot != null and robot.id != null and robot.id != ''" >
                robot_id = #{robot.id},
            </if>
            <if test="startStation != null and startStation.id != null and startStation.id != ''" >
                start_station_id = #{startStation.id},
            </if>
            <if test="isBusy != null" >
                isBusy = #{isBusy}
            </if>
        </set>
        WHERE id = #{id}
    </update>


</mapper>