<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.area.station.mapper.StationMapper">

    <resultMap id="station" type="cn.mrobot.bean.area.station.Station">
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="stationTypeId" column="STATION_TYPE_ID"/>
        <result property="description" column="DESCRIPTION"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        NAME,
        STATION_TYPE_ID,
        DESCRIPTION
    </sql>

    <insert id="save" parameterType="cn.mrobot.bean.area.station.Station" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO A_STATION(
        ID,
        NAME,
        STATION_TYPE_ID,
        DESCRIPTION
        ) values (
        #{id},
        #{name},
        #{stationTypeId},
        #{description}
        );
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
    </insert>

    <select id="findById" resultMap="station">
        SELECT
        <include refid="Base_Column_List"/>
        FROM A_STATION
        WHERE ID = #{id}
    </select>

    <select id="update" resultMap="station">
        update A_STATION set
        NAME= #{name},
        STATION_TYPE_ID=#{stationTypeId},
        DESCRIPTION=#{description}
        where ID=#{id}
    </select>

    <select id="list" resultMap="station">
        SELECT
        <include refid="Base_Column_List"/>
        FROM A_STATION
        <where>
            <if test="name != null ">
                AND NAME LIKE  CONCAT('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>