<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.area.station.mapper.StationMapper">

    <resultMap id="station" type="cn.mrobot.bean.area.station.Station">
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="stationTypeId" column="STATION_TYPE_ID"/>
        <result property="description" column="DESCRIPTION"/>
        <!-- ofType指定students集合中的对象类型 -->
        <collection property="mapPoints" resultMap="mapPoint">
        </collection>
    </resultMap>

    <resultMap id="mapPoint" type="cn.mrobot.bean.area.point.MapPoint">
        <result property="id" column="POINT_ID"/>
        <result property="pointName" column="POINT_NAME"/>
        <result property="pointAlias" column="POINT_ALIAS"/>
        <result property="sceneName" column="SCENE_NAME"/>
        <result property="mapName" column="MAP_NAME"/>
        <result property="x" column="X"/>
        <result property="y" column="Y"/>
        <result property="th" column="TH"/>
        <result property="mapPointTypeId" column="MAP_POINT_TYPE_ID"/>
    </resultMap>

    <select id="findStationsByRobotCode" resultMap="station" parameterType="java.lang.String">
        SELECT s.*, p.ID AS POINT_ID, p.POINT_NAME, p.POINT_ALIAS, p.SCENE_NAME, p.MAP_NAME, p.X, p.Y, p.TH, p.MAP_POINT_TYPE_ID
        FROM A_STATION s LEFT JOIN AC_STATION_ROBOT_XREF sr ON s.ID = sr.STATION_ID
            LEFT JOIN AS_ROBOT r ON sr.ROBOT_ID = r.ID
            LEFT JOIN A_STATION_MAP_POINT_XREF smp ON s.ID = smp.STATION_ID
            LEFT JOIN A_MAP_POINT p ON smp.MAP_POINT_ID = p.ID
        WHERE r.CODE = #{0}
    </select>

    <sql id="Base_Column_List">
        ID,
        NAME,
        STATION_TYPE_ID,
        DESCRIPTION
    </sql>

    <insert id="save" parameterType="cn.mrobot.bean.area.station.Station" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO A_STATION(
        ID,
        NAME,
        STATION_TYPE_ID,
        DESCRIPTION
        ) values (
        #{id},
        #{name},
        #{stationTypeId},
        #{description}
        );
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
    </insert>

    <select id="findById" resultMap="station">
        SELECT
        <include refid="Base_Column_List"/>
        FROM A_STATION
        WHERE ID = #{id}
    </select>

    <select id="update" resultMap="station">
        update A_STATION set
        NAME= #{name},
        STATION_TYPE_ID=#{stationTypeId},
        DESCRIPTION=#{description}
        where ID=#{id}
    </select>

    <!--<select id="list" resultMap="station">-->
        <!--SELECT-->
        <!--<include refid="Base_Column_List"/>-->
        <!--FROM A_STATION-->
        <!--<where>-->
            <!--<if test="name != null ">-->
                <!--AND NAME LIKE  CONCAT('%',#{name},'%')-->
            <!--</if>-->
        <!--</where>-->
    <!--</select>-->

    <select id="list" resultMap="station">
        SELECT
        ast.ID,
        ast.NAME,
        ast.STATION_TYPE_ID,
        ast.DESCRIPTION,
        am.ID POINT_ID,
        am.POINT_NAME,
        am.POINT_ALIAS,
        am.SCENE_NAME,
        am.MAP_NAME,
        am.X,
        am.Y,
        am.TH,
        am.MAP_POINT_TYPE_ID
        FROM A_STATION ast
        LEFT JOIN A_STATION_MAP_POINT_XREF asmx ON ast.ID = asmx.STATION_ID
        LEFT JOIN A_MAP_POINT am ON am.ID = asmx.MAP_POINT_ID
        <where>
            <if test="name != null ">
                AND NAME LIKE  CONCAT('%',#{name},'%')
            </if>
        </where>
    </select>

    <select id="listStationsBySceneAndMapPointType" resultType="cn.mrobot.bean.area.station.Station">
        SELECT ast.*
        FROM A_STATION ast
        LEFT JOIN A_STATION_MAP_POINT_XREF asmx ON ast.ID = asmx.STATION_ID
        LEFT JOIN A_MAP_POINT am ON am.ID = asmx.MAP_POINT_ID
        <where>
            <if test="type != null">
                am.CLOUD_POINT_TYPE_ID = #{type}
            </if>
            <if test="sceneId != null">
                AND ast.SCENE_ID = #{sceneId}
            </if>
        </where>
        GROUP BY ast.ID
    </select>
</mapper>