<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.dispatch.mapper.MissionListMapper">

    <resultMap id="missionList" type="cn.mrobot.bean.mission.MissionList">
        <result property="id" column="ID"/>
        <result property="storeId" column="STORE_ID"/>
        <result property="sceneId" column="SCENE_ID"/>
        <result property="name" column="NAME"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="missionListType" column="MISSION_LIST_TYPE"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="intervalTime" column="INTERVAL_TIME"/>
        <result property="repeatCount" column="REPEAT_COUNT"/>
        <result property="startTime" column="START_TIME"/>
        <result property="priority" column="PRIORITY"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        STORE_ID,
        SCENE_ID,
        NAME,
        DESCRIPTION,
        MISSION_LIST_TYPE,
        CREATE_TIME,
        UPDATE_TIME,
        REPEAT_COUNT,
        INTERVAL_TIME,
        START_TIME,
        PRIORITY
    </sql>

    <insert id="save" parameterType="cn.mrobot.bean.mission.MissionList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO D_MISSION_LIST(
        ID,
        STORE_ID,
        SCENE_ID,
        NAME,
        DESCRIPTION,
        MISSION_LIST_TYPE,
        CREATE_TIME,
        UPDATE_TIME,
        REPEAT_COUNT,
        INTERVAL_TIME,
        START_TIME,
        PRIORITY
        ) values (
        #{id},
        #{storeId},
        #{sceneId},
        #{name},
        #{description},
        #{missionListType},
        #{createTime},
        #{updateTime},
        #{repeatCount},
        #{intervalTime},
        #{startTime},
        #{priority}
        );
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
    </insert>

    <update id="update">
        UPDATE D_MISSION_LIST
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">
                NAME = #{name},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description},
            </if>
            <if test="missionListType != null">
                MISSION_LIST_TYPE = #{missionListType},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime},
            </if>
            <if test="intervalTime != null">
                INTERVAL_TIME = #{intervalTime},
            </if>
            <if test="repeatCount != null">
                REPEAT_COUNT = #{repeatCount},
            </if>
            <if test="startTime != null">
                START_TIME = #{startTime},
            </if>
            <if test="priority != null">
                PRIORITY = #{priority},
            </if>
        </trim>
        WHERE
        ID = #{id}
        AND STORE_ID = #{storeId}
    </update>

    <select id="get" resultMap="missionList">
        SELECT
        <include refid="Base_Column_List"/>
        FROM D_MISSION_LIST
        WHERE ID = #{id}
        <if test="storeId != null">
            AND STORE_ID = #{storeId}
        </if>
    </select>

    <select id="getById" resultMap="missionList">
        SELECT
        <include refid="Base_Column_List"/>
        FROM D_MISSION_LIST
        WHERE ID = #{id}
    </select>

    <select id="findByName" resultMap="missionList">
        SELECT
        <include refid="Base_Column_List"/>
        FROM D_MISSION_LIST d
        WHERE d.NAME = #{name} AND d.STORE_ID = #{storeId}
        <if test="sceneId != null">
            AND d.SCENE_ID = #{sceneId}
        </if>
    </select>

    <delete id="delete" parameterType="long">
        delete from D_MISSION_LIST where ID = #{id} AND STORE_ID = #{storeId}
    </delete>

    <select id="list" resultMap="missionList">
        SELECT
        <include refid="Base_Column_List"/>
        FROM D_MISSION_LIST d
        WHERE STORE_ID = #{storeId}
        <if test="name != null">
            AND d.NAME like CONCAT('%',#{name},'%')
        </if>
        <!--<if test="deviceId != null">
            AND d.DEVICE_ID = #{deviceId}
        </if>-->
        <if test="beginDate != null ">
            AND d.CREATE_TIME &gt;= #{beginDate}
        </if>
        <if test="endDate != null">
            AND d.CREATE_TIME &lt; #{endDate}
        </if>
        <if test="priority != null">
            AND d.PRIORITY = #{priority}
        </if>
        <if test="sceneId != null">
            AND d.SCENE_ID = #{sceneId}
        </if>
        <if test="missionListType != null">
            AND d.MISSION_LIST_TYPE = #{missionListType}
        </if>
        ORDER BY CREATE_TIME DESC
    </select>

    <select id="listAll" resultMap="missionList">
        SELECT
        <include refid="Base_Column_List"/>
        FROM D_MISSION_LIST d
        WHERE STORE_ID = #{storeId}
        ORDER BY CREATE_TIME DESC
    </select>

</mapper>