<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.dispatch.mapper.MissionMapper">

    <resultMap id="mission" type="cn.mrobot.bean.mission.Mission">
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="repeatCount" column="REPEAT_COUNT"/>
        <result property="intervalTime" column="INTERVAL_TIME"/>
        <!--<result propermissionListIdinId" column="MISSION_MAIN_ID"/>-->
        <!--<result property="priority" column="PRIORITY"/>-->
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        NAME,
        DESCRIPTION,
        CREATE_TIME,
        UPDATE_TIME,
        REPEAT_COUNT,
        INTERVAL_TIME
<!--      ,   MISSION_MAIN_ID,
        PRIORITY-->
    </sql>

    <insert id="save" parameterType="cn.mrobot.bean.mission.MissionList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO D_MISSION(
            ID,
            NAME,
            DESCRIPTION,
            CREATE_TIME,
            UPDATE_TIME,
            REPEAT_COUNT,
            INTERVAL_TIME
            <!--,MISSION_MAIN_ID,
            PRIORITY-->
        ) values (
            #{id},
            #{name},
            #{description},
            #{createTime},
            #{updateTime},
            #{repeatCount},
            #{intervalTime}
<!--           missionListIdinId},
             #{priority}-->
        );
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
    </insert>

    <update id="update">
        UPDATE D_MISSION
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">
                NAME = #{name},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime},
            </if>
            <if test="repeatCount != null">
                REPEAT_COUNT = #{repeatCount},
            </if>
            <if test="intervalTime != null">
                INTERVAL_TIME = #{intervalTime},
            </if>
            <!--<if temissionListIdinId != null">-->
                <!--MISSION_MAIN_ID missionListIdinId},-->
            <!--</if>-->
            <!--<if test="priority != null">-->
                <!--PRIORITY = #{priority},-->
            <!--</if>-->
        </trim>
        WHERE
        ID = #{id}
    </update>

    <select id="get" resultMap="mission">
        SELECT
        <include refid="Base_Column_List"/>
        FROM D_MISSION
        WHERE ID = #{id}
    </select>

    <delete id="delete" parameterType="long">
        DELETE FROM D_MISSION WHERE ID = #{id}
    </delete>

    <select id="findByName" resultMap="mission">
        SELECT
        <include refid="Base_Column_List"/>
        FROM D_MISSION
        WHERE NAME = #{name}
    </select>

    <select id="list" resultMap="mission">
        SELECT
        <include refid="Base_Column_List"/>
        FROM D_MISSION d
        <where>
            <!--<if temissionListIdinId != null">-->
                <!--AND d.MISSION_MAIN_ID missionListIdinId}-->
            <!--</if>-->
            <if test="name != null">
                AND d.NAME like CONCAT('%',#{name},'%')
            </if>
            <!--<if test="deviceId != null">-->
                <!--AND d.DEVICE_ID = #{deviceId}-->
            <!--</if>-->
            <if test="beginDate != null ">
                AND d.CREATE_TIME &gt;= #{beginDate}
            </if>
            <if test="endDate != null">
                AND d.CREATE_TIME &lt; #{endDate}
            </if>
            <!--<if test="priority != null">-->
                <!--AND d.PRIORITY = #{priority}-->
            <!--</if>-->
        </where>
        ORDER BY NAME ASC
    </select>

    <select id="listAll" resultMap="mission">
        SELECT
        <include refid="Base_Column_List"/>
        FROM D_MISSION d
        ORDER BY NAME
    </select>
</mapper>