<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.dispatch.mapper.MissionListMissionXREFMapper">

    <resultMap id="missionListMissionXREF" type="cn.mrobot.bean.mission.MissionListMissionXREF">
        <!--<result property="id" column="ID"/>-->
        <result property="missionListId" column="MISSION_LIST_ID"/>
        <result property="missionId" column="MISSION_ID"/>
        <association property="missionList"
                     javaType="cn.mrobot.bean.mission.MissionList"
                     column="MISSION_LIST_ID"
                     select="cn.muye.dispatch.mapper.MissionListMapper.getById"/>
        <association property="mission"
                     javaType="cn.mrobot.bean.mission.Mission"
                     column="MISSION_ID"
                     select="cn.muye.dispatch.mapper.MissionMapper.getById"/>
    </resultMap>

    <sql id="Base_Column_List">
        MISSION_LIST_ID,
        MISSION_ID
    </sql>

    <insert id="save" parameterType="cn.mrobot.bean.mission.MissionListMissionXREF" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO D_MISSION_LIST_MISSION_XREF(
        MISSION_LIST_ID,
        MISSION_ID
        ) values (
        #{missionListId},
        #{missionId}
        );
    </insert>

    <!--<delete id="delete" parameterType="long">-->
        <!--delete from D_MISSION_LIST_MISSION_XREF where ID = #{id}-->
    <!--</delete>-->

    <delete id="deleteByListId" parameterType="long">
        delete from D_MISSION_LIST_MISSION_XREF where MISSION_LIST_ID = #{missionListId}
    </delete>

    <select id="findByListId" resultMap="missionListMissionXREF">
        SELECT
        <include refid="Base_Column_List"/>
        FROM D_MISSION_LIST_MISSION_XREF
        WHERE MISSION_LIST_ID = #{missionListId}
    </select>
</mapper>