<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.erp.appliance.mapper.ApplianceMapper">

    <resultMap id="appliance" type="cn.mrobot.bean.erp.appliance.Appliance">
        <result property="id" column="ID"/>
        <result property="storeId" column="STORE_ID"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createTime" column="CREATE_TIME"/>

        <result property="name" column="NAME"/>
        <result property="searchName" column="SEARCH_NAME"/>
        <result property="departmentTypeCode" column="DEPARTMENT_TYPE_CODE"/>
        <result property="packageTypeCode" column="PACKAGE_TYPE_CODE"/>
        <association property="departmentType" column="DEPARTMENT_TYPE_CODE"
                     javaType="cn.mrobot.bean.erp.appliance.DepartmentType"
                     select="getDepartmentType"/>
        <association property="packageType" column="PACKAGE_TYPE_CODE"
                     javaType="cn.mrobot.bean.erp.appliance.PackageType"
                     select="getPackageType"/>
    </resultMap>

    <sql id="Base_Column_List">
    ID,
    STORE_ID,
    CREATED_BY,
    CREATE_TIME,
    NAME,
    SEARCH_NAME,
    DEPARTMENT_TYPE_CODE,
    PACKAGE_TYPE_CODE
  </sql>


    <select id="getDepartmentType" parameterType="int" resultType="cn.mrobot.bean.erp.appliance.DepartmentType">
      SELECT * FROM ERP_DEPARTMENT_TYPE WHERE CODE = #{DEPARTMENT_TYPE_CODE};
    </select>

    <select id="getPackageType" parameterType="int" resultType="cn.mrobot.bean.erp.appliance.PackageType">
      SELECT * FROM ERP_PACKAGE_TYPE WHERE CODE = #{PACKAGE_TYPE_CODE};
    </select>

    <select id="findApplianceById" resultMap="appliance">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_APPLIANCE WHERE ID = #{id}
    </select>

    <select id="listApplianceByCondition" resultMap="appliance">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_APPLIANCE a
        <where>
            <if test="name != null">
                AND a.NAME like CONCAT('%',#{name},'%')
            </if>
            <if test="searchName != null">
                AND a.SEARCH_NAME like CONCAT('%',#{searchName},'%')
            </if>
            <if test="departmentType != null">
                AND a.DEPARTMENT_TYPE_CODE = #{departmentType}
            </if>
            <if test="packageType != null">
                AND a.PACKAGE_TYPE_CODE = #{packageType}
            </if>
            <if test="storeId != null">
                AND a.STORE_ID = #{storeId}
            </if>
        </where>
         ORDER BY CREATE_TIME DESC
    </select>

    <select id="listAllAppliance" resultMap="appliance">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_APPLIANCE
        <where>
            <if test="storeId != null">
                AND STORE_ID = #{storeId}
            </if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

    <select id="findByNameAndCode" resultMap="appliance">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_APPLIANCE WHERE NAME = #{name} AND DEPARTMENT_TYPE_CODE = #{departmentTypeCode} AND PACKAGE_TYPE_CODE = #{packageTypeCode}  ORDER BY CREATE_TIME DESC
    </select>


    <select id="listBySearchNameTwo" resultMap="appliance">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_APPLIANCE WHERE SEARCH_NAME like CONCAT('',#{searchName},'%')  ORDER BY CREATE_TIME DESC
    </select>

    <select id="listBySearchNameThree" resultMap="appliance">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_APPLIANCE WHERE SEARCH_NAME like CONCAT('%',#{searchName},'%')  ORDER BY CREATE_TIME DESC
    </select>
</mapper>