<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.erp.appliance.mapper.ApplianceMapper">

    <resultMap id="appliance" type="cn.mrobot.bean.erp.appliance.Appliance">
        <result property="id" column="ID"/>
        <result property="storeId" column="STORE_ID"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createTime" column="CREATE_TIME"/>

        <result property="name" column="NAME"/>
        <result property="searchName" column="SEARCH_NAME"/>
        <result property="departmentTypeCode" column="DEPARTMENT_TYPE_CODE"/>
        <result property="packageTypeId" column="PACKAGE_TYPE_ID"/>
        <result property="deleteFlag" column="DELETE_FLAG"/>
        <association property="departmentType" column="DEPARTMENT_TYPE_CODE"
                     javaType="cn.mrobot.bean.erp.appliance.ApplianceDepartmentType"
                     select="cn.muye.erp.appliance.mapper.ApplianceDepartmentTypeMapper.findByCode"/>
        <association property="packageType" column="PACKAGE_TYPE_ID"
                     javaType="cn.mrobot.bean.erp.appliance.AppliancePackageType"
                     select="cn.muye.erp.appliance.mapper.AppliancePackageTypeMapper.findTypeById"/>
    </resultMap>

    <sql id="Base_Column_List">
    ID,
    STORE_ID,
    CREATED_BY,
    CREATE_TIME,
    NAME,
    SEARCH_NAME,
    DEPARTMENT_TYPE_CODE,
    PACKAGE_TYPE_ID,
    DELETE_FLAG
  </sql>


    <select id="findApplianceById" resultMap="appliance">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_APPLIANCE WHERE ID = #{id} AND DELETE_FLAG = 0
    </select>

    <select id="listApplianceByCondition" resultMap="appliance">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_APPLIANCE a
        <where>
            <if test="name != null">
                AND a.NAME like CONCAT('%',#{name},'%')
            </if>
            <if test="searchName != null">
                AND a.SEARCH_NAME like CONCAT('%',#{searchName},'%')
            </if>
            <if test="departmentType != null">
                AND a.DEPARTMENT_TYPE_CODE = #{departmentType}
            </if>
            <if test="packageType != null">
                AND a.PACKAGE_TYPE_ID = #{packageType}
            </if>
            <if test="storeId != null">
                AND a.STORE_ID = #{storeId}
            </if>
            AND DELETE_FLAG = 0
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

    <select id="listAllAppliance" resultMap="appliance">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_APPLIANCE
        <where>
            <if test="storeId != null">
                AND STORE_ID = #{storeId}
            </if>
            AND DELETE_FLAG = 0
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

    <!--<select id="listBySearchName" resultMap="appliance" statementType="CALLABLE">-->
        <!--CALL `agv-18`.get_appliance_by_searchName(#{searchName})-->
    <!--</select>-->

    <select id="listBySearchName" resultMap="appliance">
        (
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          ERP_APPLIANCE
        WHERE
          SEARCH_NAME =#{searchName}
        AND
          DELETE_FLAG = 0
        ORDER BY
          CREATE_TIME DESC
        )
        UNION
        (
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          ERP_APPLIANCE
        WHERE
          SEARCH_NAME like CONCAT(#{searchName},'%')
        AND
          DELETE_FLAG = 0
        ORDER BY
          CREATE_TIME DESC
        )
        UNION
        (
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          ERP_APPLIANCE
        WHERE
          SEARCH_NAME like CONCAT('%',#{searchName},'%')
        AND
          DELETE_FLAG = 0
        ORDER BY
          CREATE_TIME DESC
        )
    </select>
</mapper>