<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.erp.appliance.mapper.PackageTypeMapper">

    <resultMap id="appliance" type="cn.mrobot.bean.erp.appliance.PackageType">
        <result property="code" column="CODE"/>
        <result property="name" column="NAME"/>
    </resultMap>

    <sql id="Base_Column_List">
        CODE,
        NAME
    </sql>

    <select id="findByName" resultType="cn.mrobot.bean.erp.appliance.PackageType">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_PACKAGE_TYPE WHERE NAME = #{name}
    </select>

    <select id="findByCode" parameterType="int" resultType="cn.mrobot.bean.erp.appliance.PackageType">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_PACKAGE_TYPE WHERE CODE = #{code}
    </select>

    <select id="listAll" resultType="cn.mrobot.bean.erp.appliance.PackageType">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ERP_PACKAGE_TYPE
    </select>

    <insert id="save" parameterType="cn.mrobot.bean.erp.appliance.PackageType">
        INSERT INTO ERP_PACKAGE_TYPE(
        CODE,
        NAME
        ) values (
        #{code},
        #{name}
        );
    </insert>

</mapper>