<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.assets.robot.mapper.RobotMapper">

    <resultMap id="robotResult" type="cn.mrobot.bean.assets.robot.Robot">
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="code" column="CODE"/>
        <result property="typeId" column="TYPE_ID"/>
        <result property="lowBatteryThreshold" column="LOW_BATTERY_THRESHOLD"/>
        <result property="sufficientBatteryThreshold" column="SUFFICIENT_BATTERY_THRESHOLD"/>
        <result property="robotIdForElevator" column="ROBOT_ID_FOR_ELEVATOR"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="boxActivated" column="BOX_ACTIVATED"/>
        <result property="busy" column="BUSY"/>
        <result property="sceneId" column="SCENE_ID"/>
        <result property="sceneName" column="SCENE_NAME"/>
        <result property="storeId" column="STORE_ID"/>
        <collection property="passwords" ofType="cn.mrobot.bean.assets.robot.RobotPassword">
            <id column="BOX_NUM" property="boxNum"/>
            <result column="PASSWORD" property="password"/>
        </collection>
        <collection property="originChargerMapPointList" ofType="cn.mrobot.bean.area.point.MapPoint">
            <id column="endPointId" property="id"/>
            <result column="endPointName" property="pointName"/>
            <result column="endPointAlias" property="pointAlias"/>
            <result column="endSceneName" property="sceneName"/>
            <result column="endMapName" property="mapName"/>
            <result column="endX" property="x"/>
            <result column="endY" property="y"/>
            <result column="endTh" property="th"/>
            <result column="endPointLevel" property="pointLevel"/>
            <result column="endMapPointTypeId" property="mapPointTypeId"/>
        </collection>
    </resultMap>

    <select id="listRobot" resultMap="robotResult" parameterType="java.util.Map">
        SELECT
            robot.ID,
            robot.NAME,
            robot.CODE,
            type.ID as TYPE_ID,
            config.LOW_BATTERY_THRESHOLD,
            config.SUFFICIENT_BATTERY_THRESHOLD,
            ifnull(robot.DESCRIPTION,'') as DESCRIPTION,
            robot.BOX_ACTIVATED,
            robot.ROBOT_ID_FOR_ELEVATOR,
            robot.BUSY,
            scene.ID as SCENE_ID,
            scene.NAME as SCENE_NAME
        FROM
            AS_ROBOT robot
        LEFT JOIN AS_ROBOT_TYPE type ON robot.TYPE_ID = type.ID
        LEFT JOIN AS_ROBOT_CONFIG config ON robot.ID = config.ROBOT_ID
        LEFT JOIN SCENES_ROBOTS_RELATIONS relation ON relation.ROBOT_ID = robot.ID
        LEFT JOIN AS_SCENE scene ON scene.ID = relation.SCENE_ID
        WHERE 1=1
        <if test="name != null">
            AND robot.NAME like CONCAT('%',#{name},'%')
        </if>
        <if test="type != null">
            AND type.ID = #{type}
        </if>
        <if test="sceneId != null">
            AND scene.ID = #{sceneId}
        </if>
        <if test="sceneName != null">
            AND scene.NAME like CONCAT('%',#{sceneName},'%')
        </if>
        ORDER BY ID DESC
    </select>

    <select id="getRobotByCode" resultMap="robotResult" parameterType="java.util.Map">
           SELECT
                robot.ID,
                robot.NAME,
                robot.CODE,
                robot.ROBOT_ID_FOR_ELEVATOR,
                config.LOW_BATTERY_THRESHOLD,
                config.SUFFICIENT_BATTERY_THRESHOLD,
                ifnull(robot.DESCRIPTION,'') as DESCRIPTION,
                robot.BOX_ACTIVATED,
                robot.BUSY,
                robot.STORE_ID as storeId,
                robot.ROBOT_ID_FOR_ELEVATOR,
                pwd.BOX_NUM as boxNum,
                pwd.PASSWORD as password,
                ps.id AS "endPointId",
                ps.point_name AS endPointName,
                ps.point_alias AS endPointAlias,
                ps.scene_name AS endSceneName,
                ps.map_name AS endMapName,
                ps.point_level AS endPointLevel,
                ps.th AS endTh,
                ps.x AS endX,
                ps.y AS endY,
                ps.map_point_type_id AS endMapPointTypeId
              FROM AS_ROBOT robot
            LEFT JOIN AS_ROBOT_TYPE type ON robot.TYPE_ID = type.ID
            LEFT JOIN AS_ROBOT_CONFIG config ON robot.ID = config.ROBOT_ID
            LEFT JOIN AS_ROBOT_PASSWORD pwd ON robot.ID = pwd.ROBOT_ID
            LEFT JOIN AS_ROBOT_CHARGER_MAP_POINT_XREF robotChargerMapPointXref ON robotChargerMapPointXref.ROBOT_ID = robot.ID
            LEFT JOIN A_MAP_POINT ps ON robotChargerMapPointXref.CHARGER_MAP_POINT_ID = ps.ID
        WHERE 1=1
        <if test="code != null">
            AND robot.CODE = #{code}
        </if>
        <if test="storeId != null">
            AND robot.STORE_ID = #{storeId}
        </if>
        <if test="robotId != null">
            AND robot.ID = #{robotId}
        </if>
    </select>

</mapper>